<div class="row justify-content-end mt-2">
  <div class="col-auto">
      <button type="button" class="btn btn-success" (click)="router.navigate(['/room/create'])">Create Room</button>
  </div>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Number</th>
              <th>Type</th>
              <th>Price</th>
              <th>Details</th>
              <th>Update</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let room of rooms">
              <td>{{room.number}}</td>
              <td>{{room.type}}</td>
              <td>{{room.price}}</td>
              <td><button type="button" id="details" class="btn btn-primary"
                (click)="getRoomDetails(room.id)">Details</button></td>
              <td><button type="button" id="update" class="btn btn-success"
                (click)="redirectToUpdatePage(room.id)">Update</button></td>
              <td><button type="button" id="delete" class="btn btn-danger"
                (click)="redirectToDeletePage(room.id)">Delete</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
