<div class="card card-body bg-light mb-2 mt-2">
    <div class="row">
      <div class="col-md-3">
        <strong>First name:</strong>
      </div>
      <div class="col-md-3">
        {{customer?.firstName}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Last name:</strong>
      </div>
      <div class="col-md-3">
        {{customer?.lastName}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Email:</strong>
      </div>
      <div class="col-md-3">
        {{customer?.email}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <strong>Phone number:</strong>
      </div>
      <div class="col-md-3">
        {{customer?.phoneNumber}}
      </div>
</div>
</div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Reservation start date</th>
              <th>End date</th>
              <th>Total price</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reservation of customer?.reservations">
              <td>{{reservation?.startDate | date: 'dd/MM/yyyy'}}</td>
              <td>{{reservation?.endDate | date: 'dd/MM/yyyy'}}</td>
              <td>{{reservation?.totalPrice}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>